.css-heg063-MuiTabs-flexContainer {
  display: flex;
  justify-content: space-between;
}

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
  max-width: 45% !important;
  text-transform: none !important;
}

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
  border: 1px solid #1976d2;
  border-bottom: none;
  border-radius: 5px;
}

.user-tabs {
  text-align: left;
}

.css-1999axt-MuiAvatar-root,
.css-1vhaqj4-MuiButtonBase-root-MuiButton-root {
  background-color: #654DE4 !important;
}
